# 4km WRF Simulation of Current Climate over South America by SAAG: diagnostic plots

### Data Access

- This notebook illustrates how to make diagnostic plots using the dataset produced by the South America Affinity Group (SAAG) hosted on NCAR's Geoscience Data Exchange (GDEX).
- https://gdex.ucar.edu/datasets/d616000/#
- This data is open access and can be accessed via 3 protocols
    1) posix (if you have access to NCAR's HPC systems like Casper or Derecho)
    2) HTTPS or
    3) OSDF using intake-ESM catalogs.
- Learn about intake-ESM: https://intake-esm.readthedocs.io/en/stable/

In [1]:
#Imports
import intake
import numpy as np
import pandas as pd
import xarray as xr
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
# import fsspec.implementations.http as fshttp
# from pelicanfs.core import PelicanFileSystem, PelicanMap, OSDFFileSystem

In [3]:
import dask 
from dask_jobqueue import PBSCluster
from dask.distributed import Client
from dask.distributed import performance_report

In [4]:
cat_url     = '/gdex/data/d616000/catalogs/d616000_catalog.json' #POSIX access on NCAR
# cat_url     = 'https://osdf-data.gdex.ucar.edu/ncar/gdex/d616000/catalogs/d616000_catalog-http.json' #HTTPS access
# cat_url     = 'https://osdf-data.gdex.ucar.edu/ncar/gdex/d616000/catalogs/d616000_catalog-osdf.json' #OSDF access
print(cat_url)

/gdex/data/d616000/catalogs/d616000_catalog.json

In [5]:
# Set up your scratch folder path
username       = os.environ["USER"]
glade_scratch  = "/glade/derecho/scratch/" + username
print(glade_scratch)

/glade/derecho/scratch/harshah

## Create a PBS cluster

In [6]:
# Create a PBS cluster object
cluster = PBSCluster(
    job_name = 'dask-wk25-hpc',
    cores = 1,
    memory = '8GiB',
    processes = 1,
    local_directory = glade_scratch+'/dask/spill/',
    log_directory = glade_scratch + '/dask/logs/',
    resource_spec = 'select=1:ncpus=1:mem=8GB',
    queue = 'casper',
    walltime = '5:00:00',
    #interface = 'ib0'
    interface = 'ext'
)

In [7]:
# Scale the cluster and display cluster dashboard URL
n_workers = 5
client = Client(cluster)
cluster.scale(n_workers)
client.wait_for_workers(n_workers = n_workers)
cluster

PBSCluster(e5a3d4fa, 'tcp://128.117.208.96:44883', workers=5, threads=5, memory=40.00 GiB)

## Load SAAG data from NCAR's GDEX using an intake catalog

In [8]:
col = intake.open_esm_datastore(cat_url)
col

- col.df turns the catalog object into a pandas dataframe!
- (Actually, it accesses the dataframe attribute of the catalog)

In [9]:
col.df

,path,variable,format,short_name,long_name,units,start_time,end_time,level,level_units,frequency
0,/glade/campaign/collections/rda/data/d616000/k...,ACDEWC,reference,ACDEWC,"Accumulated canopy dew rate, accumulated over ...",mm,1999-12-31,1999-12-31 23:00:00,NaN,NaN,0 days 01:00:00
1,/glade/campaign/collections/rda/data/d616000/k...,ACDRIPR,reference,ACDRIPR,"Accumulated canopy precipitation drip rate, ac...",mm,1999-12-31,1999-12-31 23:00:00,NaN,NaN,0 days 01:00:00
2,/glade/campaign/collections/rda/data/d616000/k...,ACDRIPS,reference,ACDRIPS,"Accumulated canopy snow drip rate, accumulated...",mm,1999-12-31,1999-12-31 23:00:00,NaN,NaN,0 days 01:00:00
3,/glade/campaign/collections/rda/data/d616000/k...,ACECAN,reference,ACECAN,Accumulated net evaporation of canopy water (e...,mm,1999-12-31,1999-12-31 23:00:00,NaN,NaN,0 days 01:00:00
4,/glade/campaign/collections/rda/data/d616000/k...,ACEDIR,reference,ACEDIR,Accumulated net soil evaporation or snowpack s...,mm,1999-12-31,1999-12-31 23:00:00,NaN,NaN,0 days 01:00:00
...,...,...,...,...,...,...,...,...,...,...,...
4901,/glade/campaign/collections/rda/data/d616000/k...,V,reference,V,NaN,m s-1,2020-01-01,2020-12-31 21:00:00,NaN,NaN,0 days 03:00:00
4902,/glade/campaign/collections/rda/data/d616000/k...,W,reference,W,NaN,m s-1,2020-01-01,2020-12-31 21:00:00,NaN,NaN,0 days 03:00:00
4903,/glade/campaign/collections/rda/data/d616000/k...,Z,reference,Z,NaN,m,2020-01-01,2020-12-31 21:00:00,NaN,NaN,0 days 03:00:00
4904,/glade/campaign/collections/rda/data/d616000/k...,ilev,reference,ilev,vertical stagger levels,Dimensionless,2020-01-01,2020-12-31 21:00:00,NaN,NaN,0 days 03:00:00
4905,/glade/campaign/collections/rda/data/d616000/k...,lev,reference,lev,vertical levels,Dimensionless,2020-01-01,2020-12-31 21:00:00,NaN,NaN,0 days 03:00:00

## Select data and plot

#### What if you don't know the variable names ?
- Use pandas logic to print out the short_name and long_name

In [10]:
col.df[['variable','long_name']]

     variable                                          long_name
0      ACDEWC  Accumulated canopy dew rate, accumulated over ...
1     ACDRIPR  Accumulated canopy precipitation drip rate, ac...
2     ACDRIPS  Accumulated canopy snow drip rate, accumulated...
3      ACECAN  Accumulated net evaporation of canopy water (e...
4      ACEDIR  Accumulated net soil evaporation or snowpack s...
...       ...                                                ...
4901        V                                                NaN
4902        W                                                NaN
4903        Z                                                NaN
4904     ilev                            vertical stagger levels
4905      lev                                    vertical levels

[4906 rows x 2 columns]

- We notice that long_name is not available for some variables like 'V'
- In such cases, please look at the dataset documentation for additional information: https://gdex.ucar.edu/datasets/d616000/documentation/#

### Temperature
- Plot temperature for a random date

In [11]:
cat_temp = col.search(variable='T2')
cat_temp.df.head()

,path,variable,format,short_name,long_name,units,start_time,end_time,level,level_units,frequency
0,/glade/campaign/collections/rda/data/d616000/k...,T2,reference,T2,NaN,K,1999-12-31,1999-12-31 23:00:00,NaN,NaN,0 days 01:00:00
1,/glade/campaign/collections/rda/data/d616000/k...,T2,reference,T2,NaN,K,2000-01-01,2000-12-31 23:00:00,NaN,NaN,0 days 01:00:00
2,/glade/campaign/collections/rda/data/d616000/k...,T2,reference,T2,NaN,K,2001-01-01,2001-12-31 23:00:00,NaN,NaN,0 days 01:00:00
3,/glade/campaign/collections/rda/data/d616000/k...,T2,reference,T2,NaN,K,2002-01-01,2002-12-31 23:00:00,NaN,NaN,0 days 01:00:00
4,/glade/campaign/collections/rda/data/d616000/k...,T2,reference,T2,NaN,K,2003-01-01,2003-12-31 23:00:00,NaN,NaN,0 days 01:00:00

- The data is organized in (virtual) zarr stores with one year's worth of data in one file
- Select a year. This is done by selcting the start time to be Jan 1st of that year or the end time to be Dec 31st of the same year
- This also means that if you want to request data for other days, say Oct 1 for the year YYYY, you first have to load the data for one year YYYY and then select the data for that particular day. This example is discussed below.

In [12]:
date = "2020-01-01"
# year = "2021"
cat_temp_subset = cat_temp.search(start_time = date)
cat_temp_subset

### Load data into xarray

In [ ]:
# Load catalog entries for subset into a dictionary of xarray datasets, and open the first one.
dsets = cat_temp_subset.to_dataset_dict(zarr_kwargs={"consolidated": True})
print(f"\nDataset dictionary keys:\n {dsets.keys()}")

--> The keys in the returned dictionary of datasets are constructed as follows:
	'variable.short_name'

In [ ]:
# Load the first dataset and display a summary.
dataset_key = list(dsets.keys())[0]
# store_name = dataset_key + ".zarr"
print(dsets.keys())
ds = dsets[dataset_key]
ds = ds.T2
ds

In [ ]:
%%time
desired_date = "2020-10-01"
ds_subset = ds.sel(Time=desired_date,method='nearest')
ds_subset

In [ ]:
%%time
ds_subset.plot(cmap='inferno')

In [ ]:
cluster.close()